body {
  z-index: -1;
  position: absolute;
  color: whitesmoke;
  background-color: #191919;
  font-family: sans-serif;
  padding-top: 45px;
}

body header {
  padding-left: 80px;
  padding-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header h1.main-title {
  font-family: sans-serif;
  color: #d20a32;
  font-size: 50px;
  margin-bottom: 0;
  width: 60vw;
  text-shadow: 5px 5px 10px #0c0c0c;
}

body header .searchBox {
  z-index: 1;
  position: fixed;
  margin-left: 70%;
  margin-top: 7px;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
}

body header .searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

body header .searchBox:hover > .searchButton {
  background: white;
  color: #2f3640;
}

body header .searchButton {
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body header .searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

body .main-text {
  padding-left: 80px;
  padding-right: 80px;
  color: #ffffff;
}

body .main-text h2 {
  font-size: 50px;
  text-shadow: 5px 5px 6px #0c0c0c;
}

body .main-text p {
  font-size: 20px;
  letter-spacing: .5px;
  line-height: 30px;
  text-shadow: 3px 3px 4px #0c0c0c;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

#articles {
  position: relative;
  padding-left: 80px;
  padding-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 400px;
  height: 500px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 1s 300ms ease-in-out;
  transition: all 1s 300ms ease-in-out;
}

.card__side {
  position: absolute;
  top: 0;
  left: 0;
  height: 25em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .6s .2s ease-in;
  transition: all .6s .2s ease-in;
  -webkit-box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
          box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
}

.card__side--front .game-img {
  width: 400px;
}

.card__side--front .game-info {
  position: absolute;
  width: 400px;
  padding: 15px;
  text-shadow: 3px 3px 4px #0c0c0c;
}

.card__side--front .game-info h1 {
  text-shadow: 3px 3px 8px #0c0c0c;
  font-size: 25px;
  margin-top: 5px;
}

.card__side--back {
  width: 400px;
  position: absolute;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 10px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.card__side--back h1 {
  text-shadow: 3px 3px 8px #0c0c0c;
  font-size: 25px;
  margin-top: 5px;
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.show-more-btn {
  cursor: pointer;
  margin: auto;
  display: table;
  background-color: #d10a32;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  color: whitesmoke;
  width: 200px;
  height: 50px;
  text-align: center;
  -webkit-transition: all 400ms 200ms ease-in-out;
  transition: all 400ms 200ms ease-in-out;
}

.show-more-btn .btn-text {
  font-size: 25px;
  display: table-cell;
  vertical-align: middle;
}

.show-more-btn:hover {
  -webkit-transform: translateY(-4px) scale(1.05);
          transform: translateY(-4px) scale(1.05);
  -webkit-filter: contrast(1.25);
          filter: contrast(1.25);
}

footer {
  padding-top: 200px;
  position: relative;
  font-size: 12px;
}

footer p {
  padding-top: 15px;
}

footer::before {
  content: "";
  position: absolute;
  left: 0;
  width: 8%;
  height: 10px;
  background: #d20a32;
}

a, a:visited {
  text-decoration: none;
  position: relative;
  color: #d20a32;
}

a:after, a:visited:after {
  content: '';
  height: 1.75px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #d20a32;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a:hover:after, a:visited:hover:after {
  width: 100%;
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.appear {
  opacity: 1;
}

.background-img {
  position: relative;
  width: 101vw;
  margin-left: -80px;
  margin-right: -80px;
  margin-top: 50px;
}

.game-headers {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 90vw;
}

.game-headers h1 {
  font-size: 45px;
}

.game-headers span {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 10px;
  color: #d20a32;
  font-size: 20px;
}

.plot {
  max-width: 80vw;
}

.game-sources, .game-sources-row2 {
  max-width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game-sources p, .game-sources-row2 p {
  max-width: 15vw;
}

.game-sources-row2 p {
  max-width: 40vw;
}

video {
  width: 80vw;
  margin-top: 25px;
}

.game-shops {
  margin-bottom: 50px;
}

.game-shops p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game-shops a {
  max-width: 100px;
  margin-bottom: 5px;
}

.big-title {
  color: #d20a32;
}

.row #screenshots {
  position: relative;
  max-width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row #screenshots .screenshot {
  width: 585px;
  margin-bottom: 50px;
}

.row #youtube-videos {
  max-width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row #youtube-videos .youtube-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row #youtube-videos .youtube-video img {
  width: 300px;
}

.video-text {
  width: 30vw;
}

.row #similar-games {
  max-width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row #similar-games img {
  width: 500px;
}

.row #similar-games h3 {
  max-width: 20vw;
}

.row #similar-games .similar-game {
  margin-left: 10px;
}
/*# sourceMappingURL=styles.css.map */