@mixin buttonCode {
    background-color:transparent;
    font-family: 'Commissioner', sans-serif;
    font-size: 30px;
    color:$red;
    width:15rem;
    border: 1px solid $red;
    &:hover {
        transition:0.5s;
        color:$white;
        background-color: $red;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

#buttonList {
    display:flex;
    justify-content:center;
    margin:3rem;
    button {
        @include buttonCode();
    }
}